body {
    background-color: black;
    color: black;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    width: calc(250px * 12);
}

.slide img {
    width: 250px;
}

@media screen {
    
}